matplotlib==3.2.0
pandas==1.1.3
scipy==1.5.3
seaborn==0.9.0
numpy==1.19.2
pytest==6.1.1
pytest-cov==2.10.1
hypothesis==5.37.4
hypothesis-numpy==2.0.0
Theano==1.0.5
pymc3==3.9.3
parameterized==0.7.4
scikit-learn==0.23.2
svgutils==0.3.1
gprof2dot==2019.11.30
pylint==2.6.0
arviz==0.10.0
git+git://github.com/tensorly/tensorly.git@fb9a6eeef5402daf70089aedc82d5a45f00ac143
