matplotlib==3.2.0
pandas==1.0.1
scipy==1.4.1
seaborn==0.9.0
numpy==1.18.1
pytest==5.3.5
hypothesis==5.6.0
hypothesis-numpy==2.0.0
Theano==1.0.4
pymc3==3.8
parameterized==0.7.1
pytest-cov==2.8.1
scikit-learn==0.22.2.post1
svgutils==0.3.1
gprof2dot==2019.11.30
pylint==2.4.4
arviz==0.7.0
git+git://github.com/meyer-lab/tensorly.git@768a439173d4f4ce86eb5ce57d69977d5fce747b
